
@{
    ViewData["Title"] = "Hemsida";
}

<h2>Välkommen till Nackowskis auktioner</h2>

@section Scripts{
    <script>
        $(window).on('load', () => {
            var nav = $("#navHomePage");
            nav.addClass("active");
        });
    </script>
}


