@model ClosedAuctionViewModel
<!-- Modal -->
<div id="closedAuctionDetailsModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                @*<a asp-action="#" class="close">&times;</a>*@
               
                <h4 class="modal-title">Avslutat auktion</h4>
            </div>
            <div class="modal-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                Todo: Här skall det var info om lägsta och högsta bud


            </div>
            <div class="modal-footer">
            </div>
        </div>

    </div>
</div>

