<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Lib/Bootstrap/css/bootstrap.css" rel="stylesheet" />
 
</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">WebSiteName</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="javascript: deleteAllRegularUsers()">Delete regular users</a></li>
                <li><a asp-controller="Auction" asp-action="Index">Auctions</a></li>

                @*<li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#">Page 1-1</a></li>
                <li><a href="#">Page 1-2</a></li>
                <li><a href="#">Page 1-3</a></li>
            </ul>
        </li>
        <li><a href="#">Page 2</a></li>*@

                @if (User?.Identity?.IsAuthenticated ?? false)
                {
                    <li><a asp-controller="Account" asp-action="Logout">Logout</a></li>
                }
                else
                {
                    <li><a asp-controller="Account" asp-action="Login">Login</a></li>
                }


            </ul>
        </div>
    </nav>

    @*<nav class="navbar navbar-toggleable-md navbar-light bg-faded fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">Tomasos Pizzeria</a>

            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
                </li>*@
                @*@if (User?.Identity?.IsAuthenticated ?? false)
                    {

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Product" asp-action="List">Meny</a>
                        </li>
                    }

                    @if (User?.IsInRole("Admin") ?? false)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Admin
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" asp-controller="Admin" asp-action="Index">Användare</a>
                                <a class="dropdown-item" asp-controller="AdminOrder" asp-action="OrderList">Beställningar</a>
                                <a class="dropdown-item" asp-controller="AdminDish" asp-action="Index">Maträtter</a>
                                <a class="dropdown-item" asp-controller="AdminDish" asp-action="ViewIngredients">Ingredienser</a>
                            </div>
                        </li>
                    }


                    @if (User?.Identity?.IsAuthenticated ?? false)
                    {

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownSettings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-cog" aria-hidden="true"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownSettings">
                                <a class="dropdown-item" asp-controller="Account" asp-action="Edit">Konto (@User.Identity.Name)</a>
                            </div>
                        </li>
                    }*@

            @*</ul>*@

            @*@if (User?.Identity?.IsAuthenticated ?? false)
                {
                    <text>
                        @await Component.InvokeAsync("CartSummary")
                    </text>

                    <div class="logout-button">
                        <a asp-controller="Account" asp-action="Logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
                    </div>
                }*@


        @*</div>
    </nav>*@



    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - Nackowskis auctions</p>
        </footer>
    </div>


    <script src="~/Lib/Jquery/jquery.js"></script>
    <script src="~/Lib/Bootstrap/js/bootstrap.js"></script>
    <script src="~/Lib/JqueryValidate/jquery.validate.js"></script>
    <script src="~/Lib/JqueryValidationUnobrusive/jquery.validate.unobtrusive.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-ajax-unobtrusive@3.2.4/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/Site.js"></script>


    @RenderSection("Scripts", false)
</body>
</html>
