.custom-select[multiple]{
    height:40px;
}

#loadingSpinner {
    font-size: 500%;
    position: fixed;
    left: 50vw;
    top: 50vh;
}

.animationStop {
    display: none;
}

.auctionIcons {
    display: inline-block;
    margin-left: 5px;
}

.animationStart {
    display: block;
}

    .animationStart span {
        animation-name: spin;
        animation-duration: 1500ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
