@model GetStatisticsViewModel

@{
    ViewData["Title"] = "Statistik";
}

<div>
    <div class="row">
        <div class="col-sm-6">


            <h2>Auktionsstatistik</h2>


            <div asp-validation-summary="All" class="text-danger"></div>

            <form id="statisticsForm"
                  data-ajax="true"
                  data-ajax-method="GET"
                  data-ajax-begin="startSpinAnimation"
                  data-ajax-failure="onAjaxFailure"
                  data-ajax-success="showStatistics"
                  data-ajax-complete="stopSpinAnimation"
                  asp-action="GetAuctionsStatistics">
                @*<input type="hidden" name="AuctionId" value="@Model.AuctionId" />
            <input type="hidden" name="Bidder" value="@Model.Bidder" />*@
                <div class="form-group">
                    <label asp-for="StartDate"></label>
                    <input asp-for="StartDate" class="form-control" />
                    <span asp-validation-for="StartDate"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EndDate"></label>
                    <input asp-for="EndDate" class="form-control" />
                    <span asp-validation-for="EndDate"></span>
                </div>

                <div class="form-group">
                    <label asp-for="SelectedAuctionType"></label>

                    @foreach (var item in Model.AuctionTypes)
                    {
                        <input asp-for="SelectedAuctionType" type="radio" value="@item.Id" /> @item.Type
                    }

                </div>
                <div id="customValidation"></div>
                <button type="submit" class="btn btn-primary">Hämta statistik</button>
            </form>
        </div> 
    </div>

</div>

<br />
<br />
<div class="row">
    <canvas id="auctionsChart" width="1600" height="900"></canvas>
</div>

@section Scripts{
    <script src="~/Scripts/Statistics/Index.js"></script>
}


